.classpath
.project
.settings
target
rebel.xml
*.sh
.idea/*
*.iml
faces-config.pageflow
*.bak
*.bak[0-9]
.svn
branches
tags
*.dir
maven-eclipse.xml
.externalToolBuilders
velocity.log
*~
