/* version 0.3.0 */
.infobox {
   border-style:solid; 
   border-width:2px; 
   padding:4px; 
   margin-bottom:4px;
   overflow:auto;
   border-color:#000088; 
   background:#E0E0FF;
}

.bluebox {
   border-style:solid; 
   border-width:2px; 
   padding:4px; 
   margin-bottom:4px;
   overflow:auto;
   border-color:#000088; 
   background:#caf0fb;
}

.msgbox {
   border-style:solid; 
   border-width:2px; 
   padding:4px; 
   margin-bottom:4px;
   overflow:auto;
   border-color:#800080; 
   background:#ddaadd;
}

.orangebox {
   border-style:solid; 
   border-width:2px; 
   padding:4px; 
   margin-bottom:4px;
   overflow:auto;
   border-color:#e68a00; 
   background:#ffdd99;
}

.parmbox {
   border-style:solid; 
   border-width:2px; 
   padding:4px; 
   margin:0 0 4px 0;
   overflow:auto;
   border-color:#008800; 
   background:#E0FFE0;
}

.bluebox h4 {
	margin: 4px 0 4px 0;
}

.chatbox {
	border-style:solid; 
	border-width:3px;
	margin-bottom:8px;
   padding:4px; 
   overflow-y:scroll;
   overflow-x:hidden;
   border-color:#000088; 
   height:100px;
   background:#FFFFD0;
}

.chatbox p {
	margin: 0;
}