.infobox {
   border-style:solid; 
   border-width:2px; 
   padding:4px; 
   margin-bottom:4px;
   overflow:auto;
   border-color:#000088; 
   background:#E0E0FF;
}

.bluebox {
   border-style:solid; 
   border-width:2px; 
   padding:4px; 
   margin-bottom:4px;
   overflow:auto;
   border-color:#000088; 
   background:#caf0fb;
}

.msgbox {
   border-style:solid; 
   border-width:2px; 
   padding:4px; 
   margin-bottom:4px;
   overflow:auto;
   border-color:#800080; 
   background:#ddaadd;
}

.orangebox {
   border-style:solid; 
   border-width:2px; 
   padding:4px; 
   margin-bottom:4px;
   overflow:auto;
   border-color:#e68a00; 
   background:#ffdd99;
}

.parmbox {
   border-style:solid; 
   border-width:2px; 
   padding:4px; 
   margin:0 0 4px 0;
   overflow:auto;
   border-color:#008800; 
   background:#E0FFE0;
}
