BODY, P, TH, TD {
    font-family: arial, helvetica, sans-serif;
    text-align: left;
}

.BODY, .P, .TD {
    font-size: 12px;
}

TABLE {
    width: 100%;
    padding: 2px 3px;
    border-collapse:collapse;
    border-spacing: 3px 3px;
}


.banner, .banner TD, .banner A:link, .banner A:visited, .banner A:hover {
    background-color: #DDDDDD;
    color: #36a;
}

.banner-highlight, .banner-highlight TD {
    background-color: #003366;
    color: #ffffff;
    height: 2px;
}

.tab TD, .tab A:link, .tab A:visited, .tab A:hover {
    background-color: #DDDDDD;
    color: #36a;
}

.tab-selected, .tab-selected TD, .tab-selected A:link, .tab-selected A:visited, .tab-selected A:hover {
    background-color: #003366;
    color: ffffff#;
}

TABLE.portlet {
    border-collapse: seperated;
    border-width: 2px;
    border-color: #DDDDDD;
}

.small {
    font-size: -1;
}

