<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.     
-->
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>javax.portlet-tck-DispatcherTests</display-name>

   <servlet>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchIncludeServlet_servlet</servlet-name>
      <servlet-class>javax.portlet.tck.servlets.DispatcherTests_SPEC2_19_DispatchIncludeServlet_servlet</servlet-class>
      <init-param>
         <param-name>iparm1</param-name>
         <param-value>value1</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchIncludeServlet_servlet</servlet-name>
      <url-pattern>/DispatcherTests_SPEC2_19_DispatchIncludeServlet_servlet</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchIncludeServletAction_servlet</servlet-name>
      <servlet-class>javax.portlet.tck.servlets.DispatcherTests_SPEC2_19_DispatchIncludeServletAction_servlet</servlet-class>
      <init-param>
         <param-name>iparm1</param-name>
         <param-value>value1</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchIncludeServletAction_servlet</servlet-name>
      <url-pattern>/DispatcherTests_SPEC2_19_DispatchIncludeServletAction_servlet</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchIncludeServletEvent_servlet</servlet-name>
      <servlet-class>javax.portlet.tck.servlets.DispatcherTests_SPEC2_19_DispatchIncludeServletEvent_servlet</servlet-class>
      <init-param>
         <param-name>iparm1</param-name>
         <param-value>value1</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchIncludeServletEvent_servlet</servlet-name>
      <url-pattern>/DispatcherTests_SPEC2_19_DispatchIncludeServletEvent_servlet</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchIncludeServletRender_servlet</servlet-name>
      <servlet-class>javax.portlet.tck.servlets.DispatcherTests_SPEC2_19_DispatchIncludeServletRender_servlet</servlet-class>
      <init-param>
         <param-name>iparm1</param-name>
         <param-value>value1</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchIncludeServletRender_servlet</servlet-name>
      <url-pattern>/DispatcherTests_SPEC2_19_DispatchIncludeServletRender_servlet</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchIncludeServletResource_servlet</servlet-name>
      <servlet-class>javax.portlet.tck.servlets.DispatcherTests_SPEC2_19_DispatchIncludeServletResource_servlet</servlet-class>
      <init-param>
         <param-name>iparm1</param-name>
         <param-value>value1</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchIncludeServletResource_servlet</servlet-name>
      <url-pattern>/DispatcherTests_SPEC2_19_DispatchIncludeServletResource_servlet</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchForwardServlet_servlet</servlet-name>
      <servlet-class>javax.portlet.tck.servlets.DispatcherTests_SPEC2_19_DispatchForwardServlet_servlet</servlet-class>
      <init-param>
         <param-name>iparm1</param-name>
         <param-value>value1</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchForwardServlet_servlet</servlet-name>
      <url-pattern>/DispatcherTests_SPEC2_19_DispatchForwardServlet_servlet</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchForwardServletAction_servlet</servlet-name>
      <servlet-class>javax.portlet.tck.servlets.DispatcherTests_SPEC2_19_DispatchForwardServletAction_servlet</servlet-class>
      <init-param>
         <param-name>iparm1</param-name>
         <param-value>value1</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchForwardServletAction_servlet</servlet-name>
      <url-pattern>/DispatcherTests_SPEC2_19_DispatchForwardServletAction_servlet</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchForwardServletEvent_servlet</servlet-name>
      <servlet-class>javax.portlet.tck.servlets.DispatcherTests_SPEC2_19_DispatchForwardServletEvent_servlet</servlet-class>
      <init-param>
         <param-name>iparm1</param-name>
         <param-value>value1</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchForwardServletEvent_servlet</servlet-name>
      <url-pattern>/DispatcherTests_SPEC2_19_DispatchForwardServletEvent_servlet</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchForwardServletRender_servlet</servlet-name>
      <servlet-class>javax.portlet.tck.servlets.DispatcherTests_SPEC2_19_DispatchForwardServletRender_servlet</servlet-class>
      <init-param>
         <param-name>iparm1</param-name>
         <param-value>value1</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchForwardServletRender_servlet</servlet-name>
      <url-pattern>/DispatcherTests_SPEC2_19_DispatchForwardServletRender_servlet</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchForwardServletResource_servlet</servlet-name>
      <servlet-class>javax.portlet.tck.servlets.DispatcherTests_SPEC2_19_DispatchForwardServletResource_servlet</servlet-class>
      <init-param>
         <param-name>iparm1</param-name>
         <param-value>value1</param-value>
      </init-param>
   </servlet>
   <servlet-mapping>
      <servlet-name>DispatcherTests_SPEC2_19_DispatchForwardServletResource_servlet</servlet-name>
      <url-pattern>/DispatcherTests_SPEC2_19_DispatchForwardServletResource_servlet</url-pattern>
   </servlet-mapping>

</web-app>

