BODY {
    font-family: veranda,arial,sans-serif;
}

A:link, A:hover, A:visited, A:active {
    color: 003366;
    background-color: ffffff;
}

H1 {
    font-size: 16px;
}

H2 {
    font-size: 14px;
}

H3 {
    font-size: 12px;
}

/* All tables default to a width of 100%
 *  table-layout: fixed;
 */
TABLE {
    width: 100%;
    border: none;
    padding: 2px 3px;
    border-spacing: 0px 0px;
}

TABLE.container {
    width: 800px;
    padding: 0px 0px;
}

TR {

}

TR.alternate {
    background-color: #eeeeee;
    color: #000000;
}

TD {
    font-size: 12px;
    padding: 2px 3px;
}

TH {
    white-space: nowrap;
    text-align: left;
    font-size: 13px;
}

TH.grouping {
    text-align: center;
}

HR {
    color: 003366;
    background-color: 003366;
    border: none;
}

INPUT {
    font-size: 12px;
    font-family: veranda, arial, sans-serif;
}

INPUT.button {
    background-color: #003366;
    color: #ffffff;
}

TEXTAREA {
    font-size: 10px;
    font-family: veranda, arial, sans-serif;
}

.banner {
    color: ffffff;
    background-color: 003366;
}

.portlet-skin {
    color: #ffffff;
    background-color: #003366;
    border: 1px;
    border-color: 003366;
}

.portlet-content {
    color: #000000;
    background-color: #ffffff;
}

.label {
    vertical-align: top;
}

.disabled {
    background-color: #ffffff;
    color: #bbbbbb;
}
