/* version 0.4.0 */
.infobox {
   border-style:solid; 
   border-width:2px; 
   padding:4px; 
   margin-bottom:4px;
   overflow:auto;
   border-color:#e68a00; 
   background:#ffdd99;
}

.fadebox {
	display: none;
	position: relative;
	min-height: 100px;
}

.fadebox p {
	text-align:center; 
	position:absolute; 
	top:50%; 
   margin-top:0; 
   margin-left:50%;
	transform:translate(-50%, -50%); 
}

.bluebox {
   border-style:solid; 
   border-width:2px; 
   padding:4px; 
   margin-bottom:4px;
   overflow:auto;
   border-color:#000088; 
   background:#caf0fb;
}

.msgbox {
   border-style:solid; 
   border-width:2px; 
   padding:4px; 
   margin-bottom:4px;
   overflow:auto;
   border-color:#800080; 
   background:#ddaadd;
}

.orangebox {
   border-style:solid; 
   border-width:2px; 
   padding:4px; 
   margin-bottom:4px;
   overflow:auto;
   border-color:#e68a00; 
   background:#ffdd99;
}

.redbox {
   border-style:solid; 
   border-width:2px; 
   padding:4px; 
   margin-bottom:4px;
   overflow:auto;
   border-color:#b93a32; 
   background:#f7cac9;
   min-height: 80px;
   position:relative;
}

.redbox p {
   text-align:center; 
   position:absolute; 
   top:50%; 
   margin-top:0; 
   margin-left:50%;
   transform:translate(-50%, -50%); 
}

.parmbox {
   border-style:solid; 
   border-width:2px; 
   padding:4px; 
   margin:0 0 4px 0;
   overflow:auto;
   border-color:#008800; 
   background:#E0FFE0;
}

.infobox table {
    border-collapse: collapse;
    width: 100%;
}

.infobox th, .infobox  td {
	 padding: 4px;
    border: 1px solid #888;
}

.parmbox input, .parmbox form {
	margin: 0;
}